@keyframes faceOut {
    0% {
        opacity: 1;
        top    : 0;

    }

    100% {
        top: -50%;

        opacity: 0;
    }

}

.slider__logo {
    height         : 100px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 100%;
    transform      : all linear;
    margin         : 60px auto;

    &.dp_fix {
        background-color: rgb(255, 255, 255, 0.7);
        height          : 60px;
        position        : fixed;
        width           : 100%;
        z-index         : 99;
        left            : 50%;
        top             : 0;
        transform       : translateX(-50%);
        animation       : faceIn .3s linear;

        img {
            height: 100%;
            cursor: pointer;
        }
    }

    @keyframes faceIn {
        0% {
            opacity: 0;
            top    : -50%;
        }

        100% {
            top: 0;

            opacity: 100;
        }

    }

    img {
        height: 100%;
        cursor: pointer;
    }
}