.content__right {
    width      : 100%;
    padding-top: 24px;

    .content__info {
        width: 100%;

        .title {

            border        : 1px solid #313131;
            background    : rgb(0, 0, 0);
            color         : #fff;
            position      : relative;
            display       : block;
            text-transform: uppercase;
            padding       : 8px 12px 7px;
            z-index       : 3;
            font-size     : 14px;
            margin        : 0 auto;
            text-align    : center;
            user-select   : none;

            &::after {
                content         : "";
                position        : absolute;
                top             : -7px;
                left            : -5px;
                right           : -5px;
                bottom          : 3px;
                display         : block;
                z-index         : 1;
                height          : 100%;
                background-color: transparent;
                border-left     : 4px solid #6cc9b9;
                border-right    : 4px solid #6cc9b9;
                border-top      : 6px solid #6cc9b9;
            }

        }

        .content__social {
            display        : flex;
            display        : flex;
            gap            : 12px;
            margin-top     : 20px;
            justify-content: center;
            align-items    : center;

            .content__social-link {
                display         : block;
                background-color: #6cc9b9;
                text-align      : center;
                width           : 50px;
                height          : 50px;
                position        : relative;
                border-radius   : 50%;
                background-color: #fff;
                border          : 1px solid #f1f1f1;

                &:hover {
                    background-color: #6cc9b9;
                }

                i {
                    position : absolute;
                    top      : 50%;
                    left     : 50%;
                    transform: translate(-50%, -50%);
                    font-size: 20px;

                }
            }
        }


    }

    .content__last-new {
        margin-top: 50px;



        .last-new__title {
            border        : 1px solid #313131;
            background    : rgb(0, 0, 0);
            width         : 100%;
            color         : #fff;
            position      : relative;
            display       : block;
            text-transform: uppercase;
            padding       : 8px 12px 7px;
            z-index       : 3;
            font-size     : 14px;
            margin        : 0 auto;
            text-align    : center;
            user-select   : none;

            &::after {
                content         : "";
                position        : absolute;
                top             : -7px;
                left            : -5px;
                right           : -5px;
                bottom          : 3px;
                display         : block;
                z-index         : 1;
                height          : 100%;
                background-color: transparent;
                border-left     : 4px solid #6cc9b9;
                border-right    : 4px solid #6cc9b9;
                border-top      : 6px solid #6cc9b9;
            }
        }

        .last-new__post {
            margin-top: 20px;

            &.isgreat {
                display       : flex;
                // align-items: center;
                gap           : 12px;

                img {
                    width: 30%;



                }

                .last-new__heading {
                    display   : block;
                    font-size : 18px;
                    margin-top: 0;

                }

                .last-new__time {
                    display   : block;
                    cursor    : pointer;
                    font-size : 16px;
                    margin-top: 0;
                }
            }

            img {
                height: 100%;
                width : 100%;
                cursor: pointer;

                &:hover {
                    filter: brightness(0.9);
                }
            }

            .last-new__heading {
                display   : block;
                font-size : 20px;
                margin-top: 20px;
                cursor    : pointer;

                &:hover {
                    color: #6cc9b9;
                }
            }

            .last-new__time {
                margin-top: 20px;
                display   : block;
                font-size : 18px;
                color     : #ccc;
            }
        }
    }

    .content__category {
        margin-top: 50px;

        .title {

            border        : 1px solid #313131;
            background    : rgb(0, 0, 0);
            color         : #fff;
            position      : relative;
            display       : block;
            text-transform: uppercase;
            padding       : 8px 12px 7px;
            z-index       : 3;
            font-size     : 14px;
            margin        : 0 auto;
            text-align    : center;
            user-select   : none;

            &:hover {
                color: #6cc9b9;
            }

            &::after {
                content         : "";
                position        : absolute;
                top             : -7px;
                left            : -5px;
                right           : -5px;
                bottom          : 3px;
                display         : block;
                z-index         : 1;
                height          : 100%;
                background-color: transparent;
                border-left     : 4px solid #6cc9b9;
                border-right    : 4px solid #6cc9b9;
                border-top      : 6px solid #6cc9b9;
            }

        }

        .category-list {
            margin-top: 20px;

            .category-item {
                padding: 12px 0;

                .category-link {
                    display        : flex;
                    justify-content: space-between;
                    align-items    : center;

                    i {
                        margin-right: 10px;
                        font-size   : 16px;
                    }

                    span {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}